@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Pacifico&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Pacifico&family=Rubik+Puddles&family=Russo+One&display=swap');

body{
    background-image: url(./images/library-photoshop-magic-misty-romantic-hd-wallpaper-preview.jpg);
    margin: 0px;
}
.row{
    display: flex;
    height: 300px;
    opacity: 0.8;
    justify-content: space-evenly;
    align-items: center;
    
}
.c{
    width: 250px;
    height: 300px;
    padding: 20px;
    margin-top: 30px;
    
}
.c:hover{
    background-color:darkgray ;
}
.c1{
    background-color: lightgray;
    
}
.c2{
    background-color: lightgray;
}
.c3{
    background-color: lightgray;
}
.col{
    height: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: space-evenly;
    top: 50px;
    opacity: 0.8;
}
.col1{
    background-color: lightgray;
}
.col2{
    background-color: lightgray;
}
.col3{
    background-color: lightgray;
}
img{
    width: 100%;
    height: 160px;
    opacity: 1;
}
h1{
    color: snow;
    text-align: center;
    font-family: 'Rubik Puddles', cursive;
    
}
h2{
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: brown;
    opacity: 1;
    font-family: 'Russo One', sans-serif;
    font-size: large;

}
h3{
    font-size: small;
    margin: 0;
    opacity: 1;
    font-family: 'IBM Plex Mono', monospace;
}
